<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>listaIngredienti</title>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap')
	;
@import
	url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap')
	;
@import
	url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap')
	;
</style>
<link href="/css/lavagnaBase.css" rel="stylesheet" type="text/css">
<script></script>
</head>
<body>
	<div class="centralBox">
		<div class="dettagli">
			<h2>Benvenuto nella lista degli Ingredienti</h2>
			<div>
				<ul>
					<li th:each="ingrediente : ${ListaIngredienti}">
						<a class="link1" th:href="@{'/admin/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome}">ingrediente</a>
					</li>
				</ul>
				<a th:href="@{/admin/home}"><img class="catering" src="https://us.123rf.com/450wm/sergeypykhonin/sergeypykhonin1707/sergeypykhonin170700051/81891603-catering-service-logo-icon-or-label-for-design-menu-restaurant-or-cafe-vector-illustration.jpg?ver=6"></a>										
			</div>
		</div>
	</div>
</body>
</html>