<!DOCTYPE html>
<html xmlns:th="htttp://www.thymeleaf.org">
<head>
<title>LISTA Buffet user</title>
<link href="/css/lavagnaUser.css" rel="stylesheet" type="text/css">
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap')
	;
</style>
<script></script>
</head>
<body>
	<div class="centralBox">
		<div class="title">
			<h2>BENVENUTO NELLA LISTA DEI BUFFET!</h2>
			<a th:href="@{/home}"><img class="catering"
				src="https://us.123rf.com/450wm/sergeypykhonin/sergeypykhonin1707/sergeypykhonin170700051/81891603-catering-service-logo-icon-or-label-for-design-menu-restaurant-or-cafe-vector-illustration.jpg?ver=6"></a>
			<p>QUI POTRAI VISUALIZZARE TUTTI I NOSTRI BUFFET DISPONIBILI AL
				MOMENTO</p>
		</div>
		<div class="menu">
			<ul>
				<li th:each="buffet : ${ListaBuffet}">
					<a class="link1"  href="buffet.html" th:href="@{'/ListaBuffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">buffet</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>